:root { 
--black_900_7f:#0000007f; 
--light_green_200_66:#bcfcad66; 
--gray_800:#45413c; 
--blue_gray_600:#526170; 
--blue_gray_600_7f:#5361717f; 
--gray_800_01:#4d4d4d; 
--black_900_3f:#0000003f; 
--gray_50:#f9f9f9; 
--blue_50:#e9f3ff; 
--orange_50:#fff3e3; 
--black_900_99:#00000099; 
--yellow_900_87:#f27d1587; 
--black_900:#000000; 
--green_300_66:#78ea7d66; 
--yellow_900:#f27d15; 
--blue_300:#64a4ea; 
--light_blue_A700:#007aff; 
--white_A700:#ffffff; 
}